###################################
# Physical constraints file (pcf) #
# for iCE40HX8K-CT256             #
###################################


### Clock
set_io ext_clk R9

set_io --warn-no-port reset   D6 # raspi pin 12

# spi - top header
set_io --warn-no-port spi_ss   D4 # raspi pin 26 (CE1)
set_io --warn-no-port spi_clk  H11
set_io --warn-no-port spi_mosi A6
set_io --warn-no-port spi_miso A7

# spi debug
set_io --warn-no-port pmod1_1  D8
set_io --warn-no-port pmod1_2  B9
set_io --warn-no-port pmod1_3  B10
set_io --warn-no-port pmod1_4  B11
